*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_notebooks/.ipynb_checkpoints
.DS_Store
.python-version

# Local Netlify folder
.netlify
.tweet-cache
__pycache__

# Exclude _all_ jupyter notebooks by default...
_notebooks/*

# ... but explicitly list _wanted_ jupyter notebooks
!2020-05-05-grep-cheatsheet.ipynb
!2020-05-15-find-cheatsheet.ipynb


# Exclude _all_ markdown pages by default...
_posts/*.*

# ... but explicitly list _wanted_ markdown pages
